@media print {
  body {
    background: white !important;

    * {
      visibility: hidden;
    }
  }


  #main,
  #main * {
    visibility: visible;
  }

  #main {
    position: absolute;
    left: 0;
    top: 0;
  }

  a:link {
    text-decoration: none !important;
  }

  a[href]:after {
    content: none !important;
  }
}
